section {
    display: column;
    // align-items: center;
    justify-content: center;
}



#skills {
    padding: 2%;
    margin: 0%;
display: flex;
text-align: left;
flex-direction: column;

}

#h {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}

#eu{
    padding: 7%;
    text-align: center;
    margin: 3%;
}

#prj {
    padding: 2%;
    margin: 0%;
display: flex;
text-align: left;
flex-direction: column;
}

#proj {
    display: flex;
    flex-direction: row;
    padding: 5em;
    display: flex;
        justify-content: center;
    
    #ip{
        padding: 2em;
        
        align-items: center;
    }
    img {
        width: 10%;
    }
}