 $cor1: #071E22;
 $cor2: #1D7874;
 $cor3: #679289;
 $cor4: #003559;
 $cor5: #061A40;


header{ 
    background-color: $cor2;

    button{
    background-color: $cor5;
    

}  

    a {
        color: white;
    }





}
